html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.misc-container {
    display: flex;
    flex: 0 0 30%;
    flex-direction: column;
    font-size: 5vw;
    gap: 5vh;
}

.players {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
    "name1 name2"
    "x o";
    justify-items: center;
}

#x {
    grid-area: x;
}

#o {
    grid-area: o;
}

#name1, #name2 {
    font-size: 2.5vw;
    align-self: center;
}

#name1 {
    grid-area: name1;
}

#name2 {
    grid-area: name2;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    font-size: 2.5vw;
    border: 0;
    border-radius: 8px;
    background-color: slategray;
}

.turn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container {
    box-sizing: border-box;
    flex: 0 0 70%;
    gap: 1vw;
    background-color: slategray;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    padding: 1vw;
}

.grid {
    background-color: white;
    font-size: 5vw;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}